@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bg-background-dark {
    background-color: #0A0A0A;
  }
  .bg-background-light {
    background-color: #FFFFFF;
  }
  .bg-card-dark {
    background-color: #262626;
  }
  .bg-card-light {
    background-color: #FFFFFF;
  }
  .text-text-primary {
    color: #F5F5F5;
  }
  .text-text-secondary {
    color: #A3A3A3;
  }
  .border-primary-green {
    border-color: #10B981;
  }
  .bg-primary-green {
    background-color: #4B5563;
  }
}